.ed-start {
  padding-top: 100px;
  padding-bottom: 78px;
}

.ed-start__list,
.ed-start__description-sublist {
  margin: 0;
  padding: 0;

  list-style: none;
}

.ed-start__banner-sentense {
  margin: 0;
  margin-bottom: 25px;

  font-family: $f;
  color: $fc;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;

  @media (max-width: 1120px) {
    font-size: 25px;
    line-height: 30px;
  }
}

.ed-start__banner-text {
  width: 240px;
  margin: 0;
  margin-bottom: 30px;

  font-family: $f;
  color: $fc;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.ed-start__description-title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $f;
  color: $fc;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.ed-start__description-text {
  margin: 0;

  font-family: $f;
  color: $fc;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.ed-start__description-item p {
  margin: 0;
  margin-bottom: 14px;

  font-family: $f;
  color: $fc;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.ed-start__banner {
  width: 960px;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: 502px;
  padding-right: 50px;

  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1000px) {
    width: 100%;
  }

  @media (max-width: 950px) {
    background-image: none;
    background-color: #f5fafb;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.ed-start__list {
  padding-top: 13px;

  counter-reset: item;
}

.ed-start__description-item {
  position: relative;

  margin-bottom: 14px;
  padding-left: 48px;

  &::before {
    counter-increment: item;
    content: "0" counter(item);

    position: absolute;
    top: -10px;
    left: 0;

    font-family: $f;
    color: #ffbe13;
    font-size: 22px;
    font-weight: 900;
    line-height: 39px;
  }
}

.ed-start__description {
  padding-top: 98px;
}
